font-face {
  font-family: 'Arial';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,  
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-white);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

#root {
  min-height: 100vh;
  padding: var(--game-top-padding);
}

.app {
  min-height: 100%;
}
